Importing dependencies

In [ ]:
import numpy as np        #mathematical and logical operations can be performed
import pandas as pd         #used for manipulation and data analysis/loading data into data frame
from sklearn.model_selection import train_test_split            #split data into train and test
from sklearn.linear_model import LogisticRegression         #name of the model that we are using
from sklearn.metrics import accuracy_score            #find accuracy of the model

Data collection and pre-processing

In [ ]:
#loading the sonar data into pandas data Frame
sonar_data=pd.read_csv("/content/Copy of sonar data (1).csv",header=None)

In [ ]:
sonar_data.head()   #prints the first 5 data

,0,1,2,3,4,5,6,7,8,9,...,51,52,53,54,55,56,57,58,59,60
0,1.0000,2.0000,3.0000,4.0000,5.0000,6.0000,7.0000,8.0000,9.0000,10.0000,...,52.0000,53.0000,54.0000,55.0000,56.0000,57.0000,58.0000,59.0000,60.0000,61
1,0.0200,0.0371,0.0428,0.0207,0.0954,0.0986,0.1539,0.1601,0.3109,0.2111,...,0.0027,0.0065,0.0159,0.0072,0.0167,0.0180,0.0084,0.0090,0.0032,R
2,0.0453,0.0523,0.0843,0.0689,0.1183,0.2583,0.2156,0.3481,0.3337,0.2872,...,0.0084,0.0089,0.0048,0.0094,0.0191,0.0140,0.0049,0.0052,0.0044,R
3,0.0262,0.0582,0.1099,0.1083,0.0974,0.2280,0.2431,0.3771,0.5598,0.6194,...,0.0232,0.0166,0.0095,0.0180,0.0244,0.0316,0.0164,0.0095,0.0078,R
4,0.0100,0.0171,0.0623,0.0205,0.0205,0.0368,0.1098,0.1276,0.0598,0.1264,...,0.0121,0.0036,0.0150,0.0085,0.0073,0.0050,0.0044,0.0040,0.0117,R

In [ ]:
sonar_data.tail()     #prints the last 5 values

,0,1,2,3,4,5,6,7,8,9,...,51,52,53,54,55,56,57,58,59,60
204,0.0187,0.0346,0.0168,0.0177,0.0393,0.1630,0.2028,0.1694,0.2328,0.2684,...,0.0116,0.0098,0.0199,0.0033,0.0101,0.0065,0.0115,0.0193,0.0157,M
205,0.0323,0.0101,0.0298,0.0564,0.0760,0.0958,0.0990,0.1018,0.1030,0.2154,...,0.0061,0.0093,0.0135,0.0063,0.0063,0.0034,0.0032,0.0062,0.0067,M
206,0.0522,0.0437,0.0180,0.0292,0.0351,0.1171,0.1257,0.1178,0.1258,0.2529,...,0.0160,0.0029,0.0051,0.0062,0.0089,0.0140,0.0138,0.0077,0.0031,M
207,0.0303,0.0353,0.0490,0.0608,0.0167,0.1354,0.1465,0.1123,0.1945,0.2354,...,0.0086,0.0046,0.0126,0.0036,0.0035,0.0034,0.0079,0.0036,0.0048,M
208,0.0260,0.0363,0.0136,0.0272,0.0214,0.0338,0.0655,0.1400,0.1843,0.2354,...,0.0146,0.0129,0.0047,0.0039,0.0061,0.0040,0.0036,0.0061,0.0115,M

In [ ]:
#number of rows and columns
sonar_data.shape          #207-rows,61-columns

(209, 61)

In [ ]:
sonar_data.describe()  #describes the statistical measures of the data

,0,1,2,3,4,5,6,7,8,9,...,50,51,52,53,54,55,56,57,58,59
count,209.000000,209.000000,209.000000,209.000000,209.000000,209.000000,209.000000,209.000000,209.000000,209.000000,...,209.000000,209.00000,209.000000,209.000000,209.000000,209.000000,209.000000,209.000000,209.000000,209.000000
mean,0.033809,0.047822,0.057977,0.072773,0.098766,0.132778,0.154657,0.172432,0.220213,0.255110,...,0.260011,0.26216,0.264246,0.269262,0.272404,0.276125,0.280510,0.285423,0.290200,0.293557
std,0.070963,0.139611,0.208045,0.276876,0.345134,0.412036,0.479755,0.550639,0.621554,0.690455,...,3.526653,3.59600,3.665353,3.734508,3.803793,3.873037,3.942236,4.011399,4.080571,4.149840
min,0.001500,0.000600,0.001500,0.005800,0.006700,0.010200,0.003300,0.005500,0.007500,0.011300,...,0.000000,0.00080,0.000500,0.001000,0.000600,0.000400,0.000300,0.000300,0.000100,0.000600
25%,0.013400,0.016500,0.019000,0.024400,0.038400,0.067100,0.081200,0.080500,0.097300,0.111400,...,0.008500,0.00730,0.005100,0.005400,0.004200,0.004400,0.003700,0.003600,0.003700,0.003100
50%,0.022800,0.030800,0.034400,0.044100,0.063000,0.092200,0.108300,0.112300,0.152300,0.183800,...,0.014000,0.01150,0.009600,0.009300,0.007500,0.006900,0.006000,0.005800,0.006500,0.005300
75%,0.036300,0.048400,0.058700,0.068100,0.102600,0.134200,0.154300,0.170200,0.235300,0.269600,...,0.020900,0.01680,0.014900,0.014500,0.012100,0.010800,0.010500,0.010500,0.010400,0.008600
max,1.000000,2.000000,3.000000,4.000000,5.000000,6.000000,7.000000,8.000000,9.000000,10.000000,...,51.000000,52.00000,53.000000,54.000000,55.000000,56.000000,57.000000,58.000000,59.000000,60.000000

In [ ]:
sonar_data.groupby(60).mean()

,0,1,2,3,4,5,6,7,8,9,...,50,51,52,53,54,55,56,57,58,59
60,,,,,,,,,,,,,,,,,,,,,
61,1.000000,2.000000,3.000000,4.000000,5.000000,6.000000,7.000000,8.000000,9.000000,10.000000,...,51.000000,52.000000,53.000000,54.000000,55.000000,56.000000,57.000000,58.000000,59.000000,60.000000
M,0.034989,0.045544,0.050720,0.064768,0.086715,0.111864,0.128359,0.149832,0.213492,0.251022,...,0.019352,0.016014,0.011643,0.012185,0.009923,0.008914,0.007825,0.009060,0.008695,0.006930
R,0.022498,0.030303,0.035951,0.041447,0.062028,0.096224,0.114180,0.117596,0.137392,0.159325,...,0.012311,0.010453,0.009640,0.009518,0.008567,0.007430,0.007814,0.006677,0.007078,0.006024

In [ ]:
sonar_data[60].value_counts()         #counts the number of rocks and mine present

M     111
R      97
61      1
Name: 60, dtype: int64

  M-->Mine
  R-->Rock

In [ ]:
sonar_data.groupby(60).mean()

,0,1,2,3,4,5,6,7,8,9,...,50,51,52,53,54,55,56,57,58,59
60,,,,,,,,,,,,,,,,,,,,,
61,1.000000,2.000000,3.000000,4.000000,5.000000,6.000000,7.000000,8.000000,9.000000,10.000000,...,51.000000,52.000000,53.000000,54.000000,55.000000,56.000000,57.000000,58.000000,59.000000,60.000000
M,0.034989,0.045544,0.050720,0.064768,0.086715,0.111864,0.128359,0.149832,0.213492,0.251022,...,0.019352,0.016014,0.011643,0.012185,0.009923,0.008914,0.007825,0.009060,0.008695,0.006930
R,0.022498,0.030303,0.035951,0.041447,0.062028,0.096224,0.114180,0.117596,0.137392,0.159325,...,0.012311,0.010453,0.009640,0.009518,0.008567,0.007430,0.007814,0.006677,0.007078,0.006024

In [ ]:
#separating  data and labels
X=sonar_data.drop(columns=60,axis=1)      #dropping the 60th columns
Y=sonar_data[60]      #storing the 60th column

In [ ]:
Y

0      61
1       R
2       R
3       R
4       R
       ..
204     M
205     M
206     M
207     M
208     M
Name: 60, Length: 209, dtype: object

Training and Test Data

In [ ]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = 0.1,random_state=1)

In [ ]:
print(X.shape,X_train.shape,X_test.shape)

(209, 60) (188, 60) (21, 60)

Model Training ----> Logistic Regression

In [ ]:
from sklearn.linear_model import LogisticRegression
log_model = LogisticRegression(solver='lbfgs', max_iter=1000)

In [ ]:
#training the logistic regression with trained data
log_model.fit(X_train,Y_train)

LogisticRegression(max_iter=1000)

Model Evaluation

In [ ]:
#accuracy on training data
X_train_prediction=log_model.predict(X_train)         #answer that we are predicting
training_data_accuracy=accuracy_score(X_train_prediction,Y_train)       #y_tain=actual answer, we are trying to compare the scores b/w them

In [ ]:
print("accuracy on training data",training_data_accuracy)

accuracy on training data 0.8563829787234043

In [ ]:
#accuracy on test data
X_test_prediction=log_model.predict(X_test)         #answer that we are predicting
testing_data_accuracy=accuracy_score(X_test_prediction,Y_test)

In [ ]:
print("accuracy on training data",testing_data_accuracy)

accuracy on training data 0.9047619047619048

Making a Predictive System

In [ ]:
input_data=(0.02,0.0371,0.0428,0.0207,0.0954,0.0986,0.1539,0.1601,0.3109,0.2111,0.1609,0.1582,0.2238,0.0645,0.066,0.2273,0.31,0.2999,0.5078,0.4797,0.5783,0.5071,0.4328,0.555,0.6711,0.6415,0.7104,0.808,0.6791,0.3857,0.1307,0.2604,0.5121,0.7547,0.8537,0.8507,0.6692,0.6097,0.4943,0.2744,0.051,0.2834,0.2825,0.4256,0.2641,0.1386,0.1051,0.1343,0.0383,0.0324,0.0232,0.0027,0.0065,0.0159,0.0072,0.0167,0.018,0.0084,0.009,0.0032)

#changing input to numpy array

input_data_as_numpy_array=np.asarray(input_data)

input_data_reshape=input_data_as_numpy_array.reshape(1,-1)

prediction=log_model.predict(input_data_reshape)

print(prediction)

if(prediction[0]=="R"):
  print("object is a rock")
else:
  print("object is a mine")

['R']
object is a rock

In [ ]:
input_data=(0.0307,0.0523,0.0653,0.0521,0.0611,0.0577,0.0665,0.0664,0.1460,0.2792,0.3877,0.4992,0.4981,0.4972,0.5607,0.7339,0.8230,0.9173,0.9975,0.9911,0.8240,0.6498,0.5980,0.4862,0.3150,0.1543,0.0989,0.0284,0.1008,0.2636,0.2694,0.2930,0.2925,0.3998,0.3660,0.3172,0.4609,0.4374,0.1820,0.3376,0.6202,0.4448,0.1863,0.1420,0.0589,0.0576,0.0672,0.0269,0.0245,0.0190,0.0063,0.0321,0.0189,0.0137,0.0277,0.0152,0.0052,0.0121,0.0124,0.0055)

#changing input to numpy array

input_data_as_numpy_array=np.asarray(input_data)

input_data_reshape=input_data_as_numpy_array.reshape(1,-1)

prediction=log_model.predict(input_data_reshape)

print(prediction)

if(prediction[0]=="R"):
  print("object is a rock")
else:
  print("object is a mine")

['M']
object is a mine